# systemctl --user enable mbsync-slow.service

[Unit]
Description=Mailbox synchronization service (slow channels)
Documentation=man:mbsync(1)
ConditionPathExists=%h/.mbsyncrc

[Service]
Type=oneshot
ExecStart=mbsync fastmail-slow
ExecStartPost=notmuch new

[Install]
WantedBy=default.target

# Local Variables:
# mode: conf
# End:
