[Unit]
Description=Store org agenda views.

[Service]
Type=oneshot
ExecStart=emacsclient --no-wait --eval '(org-store-agenda-views)'

# Local Variables:
# mode: conf
# End:
