[Unit]
Description=Console client for pCloud cloud storage
Documentation=https://github.com/pcloudcom/console-client
After=network.target

[Service]
Type=simple
ExecStart=/home/egrep/.local/bin/pcloudcc -u egrep@protonmail.ch
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
