# Ignore files that start and end with a hash symbol (#)
# Example: #.sqliterc#
\#*\#

# Ignore files that end with a tilde (~)
# Example: .gitignore~
.*~

# Various ruby scripts installed by gem
bin/common-prefix
bin/dotenv
bin/licensed
bin/licensee
bin/nokogiri
bin/racc
bin/reverse_markdown
bin/thor
