# Automatically normalize line endings for all text-based files
* text=auto

*.rb diff=ruby

.my.cnf                            linguist-language=INI

.config/Code/User/settings.json    linguist-language=CSON
.config/Code/User/keybindings.json linguist-language=CSON
