# -*- gitconfig -*-
#
[user]
	name = Serghei Iakovlev
	email = serghei@phalconphp.com
	signingkey = DC898A5F

[core]
	autocrlf = false
	safecrlf = true
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
	pager = "less -R -F"
	excludesfile = ~/git/ignore_global
        # See: https://github.com/sergeyklay/dotfiles/blob/master/bin/em
	editor = "em"

[push]
	default = simple

[commit]
	template = ~/git/message.txt
        gpgsign = true

[fetch]
	prune = true

[merge]
	stat = true

[mergetool]
	prompt = false

[difftool]
	prompt = false

[alias]
	hist = log --graph --decorate --pretty=format:\"%Cred%h%Creset | %Cgreen%ad%Creset | %s%d [%C(yellow)%an%Creset]\" --graph --date=local
	type = cat-file -t
	dump = cat-file -p
	rma = !git ls-files --deleted -z | xargs -0 --no-run-if-empty git rm
	aliases = "!git config -l | grep alias | cut -c 7-"
	br = branch
	st = status
	ss = status --short
	sd = diff --stat
	ci = commit
	co = checkout
	dc = diff --cached
	rp = remote prune
	rs = remote show
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	ign = ls-files -o -i --exclude-standard
	lt = describe --tags --abbrev=0
	save = !git stash save $(date "+%F_%T")
	sf = show --pretty="format:" --name-only
	ign = ls-files -o -i --exclude-standard
	last = log -1 HEAD
	mf = merge --no-ff
	count = !~/bin/git-count
	puhs = push
	la = "!sh -c \"git diff $1..HEAD\" -"
	patch = !git --no-pager diff --no-color

[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = auto
	grep = auto
	decorate = auto
	showbranch = auto
	pager = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = 227
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	commit = 227 bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[url "git://github.com/"]
	insteadOf = github:

[url "git@github.com:sergeyklay/"]
	insteadOf = klay:

[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
