[submodule ".config/awesome/vicious"]
    path = .config/awesome/vicious
    url = http://git.sysphere.org/vicious
[submodule "/home/klay/.vim/bundle/vundle"]
	path = /home/klay/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".config/awesome/obvious"]
	path = .config/awesome/obvious
	url = git@github.com:hoelzro/obvious.git
