# This file controls the behaviour of line input editing for
# programs that use the GNU Readline library

$include /etc/inputrc

# Two escapes clear command line.
"\e\e": "\C-a\C-k"

"\e[A": history-search-backward
"\e[B": history-search-forward

# Use case-insensitive expansion
set completion-ignore-case on

# List all matches when multiple completions are possible
set show-all-if-ambiguous on

# Show extra information when completing (like `ls -F`)
set visible-stats on

# Show all completions at once
set page-completions off

# Only when there are > 200 completions, ask to show them
set completion-query-items 200

# More intelligent completion by ignoring text after the cursor
set skip-completed-text on

# Disable PC Speaker
set bell-style none

# vim:ft=readline:ts=8:sw=2:sts=2:tw=78:fenc=utf-8:et
