! https://wiki.archlinux.org/index.php/X_resources
! https://wiki.archlinux.org/index.php/rxvt-unicode

!---------!
! General !
!---------!

! Fonts
! *.dpi: 96 ! Disabled, respecting Xserver dpi config
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault

! Cursor
Xcursor.theme: Adwaita
Xcursor.size: 28

!-------!
! Xterm !
!-------!

xterm*faceName: xft:Monaco
xterm*faceSize: 13

!-------!
! URxvt !
!-------!

! Fonts
! According to the manual, setting URxvt.<style>Font to empty will
! disable the <style> (bold, italic, boldItalic) font, and uses
! regular font instead. This is the preferred way I think.
URxvt.font:xft:Monaco:pixelsize=13,xft:Inconsolata for Powerline:pixelsize=13
URxvt.boldFont:
URxvt.italicFont:
URxvt.boldItalicFont:
URxvt.letterSpace: -1

! UI
URxvt*borderless: true
URxvt.internalBorder: 10
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_left: false
URxvt*saveLines: 10000000
URxvt*dynamicColors: true
URxvt*fading: 10
URxvt*visualBell: false

! Common
URxvt.loginShell: true
URxvt.iso14755: true
URxvt*imLocale: en_US.UTF-8
URxvt.url-launcher: /usr/bin/firefox
URxvt*termName: rxvt-unicode

! Colors
URxvt.depth: 32
URxvt.intensityStyles: false

URxvt*fadeColor: #2e3436
URxvt*colorUL: #8ae234
URxvt*underlineColor: #92659a
URxvt*pointerColorBackground: black1
URxvt*pointerColorForeground: white1

! special
URxvt*foreground:   #f8f8f2
URxvt*background:   #272822
URxvt*cursorColor:  #f8f8f2

! black
URxvt*color0:       #272822
URxvt*color8:       #75715e

! red
URxvt*color1:       #f92672
URxvt*color9:       #f92672

! green
URxvt*color2:       #a6e22e
URxvt*color10:      #a6e22e

! yellow
URxvt*color3:       #f4bf75
URxvt*color11:      #f4bf75

! blue
URxvt*color4:       #66d9ef
URxvt*color12:      #66d9ef

! magenta
URxvt*color5:       #ae81ff
URxvt*color13:      #ae81ff

! cyan
URxvt*color6:       #a1efe4
URxvt*color14:      #a1efe4

! white
URxvt*color7:       #f8f8f2
URxvt*color15:      #f9f8f5

! Extensions
URxvt.perl-ext:
URxvt.perl-ext-common: default,matcher

URxvt.matcher.button: 1

! Key bindings
URxvt.keysym.Control-Insert: eval:selection_to_clipboard
URxvt.keysym.Shift-Insert: eval:paste_clipboard

URxvt.keysym.C-Delete: matcher:last
URxvt.keysym.M-Delete: matcher:list

!--------------!
! Xscreensaver !
!--------------!

xscreensaver.logFile: /home/klay/log/xscreensaver.log
xscreensaver.fade: false
xscreensaver.unfade: false
