! https://wiki.archlinux.org/index.php/X_resources
! https://wiki.archlinux.org/index.php/rxvt-unicode

!---------!
! General !
!---------!

! Fonts
! *.dpi: 96 ! Disabled, respecting Xserver dpi config
Xft.antialias: true

! Cursor
Xcursor.theme: Adwaita
Xcursor.size: 28

!-------!
! Xterm !
!-------!

xterm*faceName: Fira Code
xterm*faceSize: 11

!-------!
! URxvt !
!-------!

! Fonts
URxvt.font: xft:Input Mono:size=10,style=medium:antialias=true:hinting=true
URxvt.boldFont: xft:Input Mono:size=10,style=medium:antialias=true:hinting=true
URxvt.italicFont: xft:Input Mono:size=10,style=medium:antialias=true:hinting=true
URxvt.boldItalicFont: xft:Input Mono:size=10,style=medium:antialias=true:hinting=true
URxvt.letterSpace: -1

! UI
URxvt*borderless: true
URxvt.internalBorder: 10
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_left: false
URxvt*saveLines: 10000000
URxvt*dynamicColors: true
URxvt*fading: 10
URxvt*visualBell: false

! Common
URxvt.loginShell: true
URxvt.iso14755: true
URxvt*imLocale: en_US.UTF-8
URxvt.url-launcher: /usr/bin/firefox
URxvt*termName: rxvt-unicode

! Colors
URxvt.depth: 32
URxvt.intensityStyles: false

URxvt*background: #2e3436
URxvt*foreground: #eeeeec
URxvt*fadeColor: #2e3436
URxvt*cursorColor: #8ae234
URxvt*colorUL: #8ae234
URxvt*underlineColor: #92659a
URxvt*pointerColorBackground: black1
URxvt*pointerColorForeground: white1

URxvt*color0: #2e3436
URxvt*color1: #cc0000
URxvt*color2: #4e9a06
URxvt*color3: #edd400
URxvt*color4: #3465a4
URxvt*color5: #92659a
URxvt*color6: #07c7ca
URxvt*color7: #d3d7cf
URxvt*color8: #6e706b
URxvt*color9: #ef2929
URxvt*color10: #8ae234
URxvt*color11: #fce94f
URxvt*color12: #729fcf
URxvt*color13: #c19fbe
URxvt*color14: #63e9e9
URxvt*color15: #eeeeec

! Extensions
URxvt.perl-ext:
URxvt.perl-ext-common: default,matcher

URxvt.matcher.button: 1

! Key bindings
URxvt.keysym.Control-Insert: eval:selection_to_clipboard
URxvt.keysym.Shift-Insert: eval:paste_clipboard

URxvt.keysym.C-Delete: matcher:last
URxvt.keysym.M-Delete: matcher:list

!--------------!
! Xscreensaver !
!--------------!

xscreensaver.logFile: ~/log/xscreensaver.log
xscreensaver.fade: false
xscreensaver.unfade: false
