#waybar {
    font-family: "Fira Sans SemiBold";
    font-size: 13px;
}

#window {
    padding: 0 10px;
}

window#waybar {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    color: rgba(217, 216, 216, 1);
    background: rgba(0, 0, 0, 0.87);
}

window#waybar.empty { }

window#waybar.solo {
    background: rgb(35, 31, 32);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: rgba(217, 216, 216, 0.4);
    border: 3px solid rgba(217, 216, 216, 0);
    border-radius: 10px;
}

#workspaces button.visible {
    color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(217, 216, 216, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
    background-color: #943432;
    color: white;
}

#workspaces button:hover {
    box-shadow: inherit;
    border-color: #d1be8b;
    color: #888888;
}

#workspaces button.focused {
    color: white;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#language,
#custom-disturb_on,
#custom-disturb_off,
#custom-mic {
    margin: 0px 0px 0px 10px;
    padding: 0 5px;
    color: #f8f8f2;
}

#idle_inhibitor.activated {
    background-color: #b45bcf;
    color: #f8f8f2;
}

#language {
}

#custom-disturb-on,
#custom-disturb-off {
  color: white;
  background: #e91e63;
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}


#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
