[Desktop Entry]
Version=1.0
Name=Spacemacs
GenericName=Text Editor
Comment=A community-driven Emacs distribution
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
TryExec=emacs
Exec=emacs %F
Icon=/home/klay/.emacs.d/core/banners/img/spacemacs.png
Type=Application
Terminal=false
Categories=Development;
StartupWMClass=Emacs
Keywords=Text;Editor;Emacs;Spaceemacs;Vim;IDE;
